@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html {
    background-color:#77adc6;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    height: 500px;
    width: 250px;
    border-radius:20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.537);

    transition: width .3s, heigth .3s;
    transition-timing-function:ease ;

}

section#login > div#imagem{
    display: block;
    background: #5f2c82  url(imagens/pexels-pixabay-277770.jpg) no-repeat;
    background-size: cover;
    background-position: center center ;
    height: 200px;
    border-radius: 20px 20px 0px 0px ;
    
}

section#login >div#formulario{
    display: block;
    padding: 10px;
}
 

div#formulario >h1 {
    text-align: center;
    margin-bottom: 10px;}

 div#formulario > p {
    font-size: 1.2em;
 }   

 form > a.esqueci {
    font-size: 1em;
    padding: 4px;
    display: block;
    text-align: center;
    background-color: #a8efe3;
    height: 41px;
    border-radius: 9px;
    padding-top: 5px;
    margin-top:5px ;
    text-decoration: none;
  }

  form > a.esqueci:hover{
    background-color: #77adc6;
    color: white;

  }

form > input[type=submit] {
    background-color: rgba(153, 185, 227, 0.654);
   width: 100%;
   font-size: 1em;
   height: 40px;
    color:rgb(0, 0, 0) ;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    margin-top:5px ;
}

 form > input[type=submit]:hover {
    background-color: #77adc6;
    font-size: 1.3em;
    color: white;
 }

 form > div.campo{
    background-color:  #3554dc9c;
    border-radius: 5px;
    margin-top: 4px;
    
 }
div.campo > span{
    text-align: center;
    margin-left: 10px;
   
}
div.campo > input {
    background-color: #e6e8e8ee;
    width: calc(100% - 7%);
   margin-left: -15px;
    height: 35px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.296);

 }